<h1 class="page-header">Register Page</h1>

<!-- Registration Form -->
<form [formGroup] = "rgisterForm" (submit)= "onRgisterSubmit()" >

  <!-- Username Input -->
  <div class="form-group">
    <label for="username">Username</label>
    <div>
      <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" />

    </div>
  </div>

  <!-- Email Input -->
  <div class="form-group">
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" />

    </div>
  </div>

  <!-- Password Input -->
  <div class="form-group">
    <label for="password">Password</label>
    <div>
      <input formControlName = "password" class="form-control" autocomplete="off" placeholder="*Password" />

    </div>
  </div>

  <!-- Confirm Password Input -->
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <div>
      <input formControlName = "confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password"/>

    </div>
  </div>

  <!-- Submit Input -->
  <input [disabled]="!rgisterForm  .valid" type="submit" value="Submit" class="btn btn-primary" />

</form>
<!-- Registration Form /-->
